@import "tailwindcss";

/* ------------------ THEME ------------------ */
@theme {
  --color-primary: var(--color-amber-500);
  --color-secondary: oklch(92.8% 0.006 264.531);
  --color-accent: oklch(12.9% 0.054 264.2);
  --color-title-color: oklch(14.7% 0.004 49.3);

  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Jost", sans-serif;
}

/* ------------------ KEYFRAMES ------------------ */
@keyframes shimmer {
  0% { background-position: -200% center; }
  100% { background-position: 200% center; }
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(24px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes rotateSlow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ------------------ UTILITIES ------------------ */
/* @utility animate-shimmer {
  animation: shimmer 4s linear infinite;
}

@utility animate-float {
  animation: float 6s ease-in-out infinite;
}

@utility animate-fadeInUp {
  animation: fadeInUp 0.6s ease forwards;
}

@utility animate-rotateSlow {
  animation: rotateSlow 20s linear infinite;
} */
